solvingTheEquation/solvingTheEquation/obj/project.assets.json
solvingTheEquation/solvingTheEquation/obj/project.nuget.cache
solvingTheEquation/solvingTheEquation/obj/solvingTheEquation.csproj.nuget.dgspec.json
solvingTheEquation/solvingTheEquation/obj/solvingTheEquation.csproj.nuget.g.props
solvingTheEquation/solvingTheEquation/obj/solvingTheEquation.csproj.nuget.g.targets
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/apphost.exe
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.AssemblyInfo.cs
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.AssemblyInfoInputs.cache
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.assets.cache
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.csproj.BuildWithSkipAnalyzers
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.csproj.CoreCompileInputs.cache
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.csproj.FileListAbsolute.txt
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.dll
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.GeneratedMSBuildEditorConfig.editorconfig
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.genruntimeconfig.cache
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.GlobalUsings.g.cs
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/solvingTheEquation.pdb
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/ref/solvingTheEquation.dll
solvingTheEquation/solvingTheEquation/obj/Debug/net8.0/refint/solvingTheEquation.dll
solvingTheEquation/solvingTheEquation/bin/Debug/net8.0/solvingTheEquation.deps.json
solvingTheEquation/solvingTheEquation/bin/Debug/net8.0/solvingTheEquation.dll
solvingTheEquation/solvingTheEquation/bin/Debug/net8.0/solvingTheEquation.exe
solvingTheEquation/solvingTheEquation/bin/Debug/net8.0/solvingTheEquation.pdb
solvingTheEquation/solvingTheEquation/bin/Debug/net8.0/solvingTheEquation.runtimeconfig.json
solvingTheEquation/.vs/solvingTheEquation/DesignTimeBuild/.dtbcache.v2
solvingTheEquation/.vs/solvingTheEquation/FileContentIndex/c58ea257-fd6b-425b-bb88-51be2000e53e.vsidx
solvingTheEquation/.vs/solvingTheEquation/v17/.suo
solvingTheEquation/.vs/solvingTheEquation/v17/DocumentLayout.backup.json
solvingTheEquation/.vs/solvingTheEquation/v17/DocumentLayout.json
